.git
.gitignore
.DS_Store
.env
.claude
.data
venv
**/__pycache__
**/*.pyc

blur_detector/data
blur_detector/outputs

autoresearch
magika
paper
raw
wiki
.data

*.md
!README.md

pipeline.log
texput.log
